/*dark gray: #3b3b3b
purple: #714e99*/

html, body {
    height:100%;
} 

body {
    margin:0px;
    background-color:#fff;
    overflow: hidden;
}


@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

#animate-area {
  width: 100%;
  height: 100%;
  background-image: url('../images/clouds.png');
  background-position: left top;
  background-repeat: repeat-x;
  animation: animatedBackground 80s linear infinite;
}
/*------- for more tutorials visit www.twoclock.com*/


/*
 MARK:
 General classes
*/

#header {
    width: 100%;
    height:450px;
    background-image: url('../images/header.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0 auto;
    top: 20%;
    position: absolute;
}



#main {
    display:none;
    width: 1081px;
    height:700px;
    background-image: url('../images/section_bg.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
    left:0; 
    right:0;
    top:0; 
    bottom:0;
    margin:auto;
    max-width:100%;
    max-height:100%;
    min-width:1081px;
    min-height:700px;
    position:absolute;
    overflow:auto;
}


#main-text {
    display:none;
    padding: 110px;
    font-family: 'Rubik', sans-serif;
    color: #242424;
    font-size: 18px;
    max-height: 500px;
    overflow-y: scroll;
}

#menu {
    position: absolute;
    width: 50px;
    right: 0px;
    bottom: 0px;
    height: 500px;
    overflow:hidden;
    background-image: url('../images/menu_crop.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

#menu:hover {
    width:220px;
}

#menu-text{
    font-family: 'Rubik', sans-serif;
    position: absolute;
    top: 90px;
    left: 65px;
    color: #242424;
    font-size: 20px;
}

.bottom-align {
    font-family: 'Rubik', sans-serif;
    position: absolute;
    bottom: 42px;
    width: 100%;
    text-align: center;
    color: #242424;
    font-size: 22px;
}


.title{
    font-family: 'Reenie Beanie', cursive;
    text-align:center;
    color: #fff;
    font-size:76px;
    line-height: 80%;
    width:100%;
    top:30%;
    position:absolute;
}


.nav, .subtitle, .nav_grey{
    font-family: 'Rubik', sans-serif;
    text-align:center;

    text-transform:uppercase;
    color: #714e99;
    font-size:14px;
}

.nav, .nav_grey{
    -o-transition:color .3s ease-in-out;
    -ms-transition:color .3s ease-in-out;
    -moz-transition:color .3s ease-in-out;
    -webkit-transition:color .3s ease-in-out;
    transition:color .3s ease-in-out;
    text-decoration:none;
    font-weight:bold;
    font-size:15px;
}

.nav:hover, .nav_grey:hover{
    color: #fff;
    font-weight:bolder;
    -o-transition:color .3s ease-in-out;
    -ms-transition:color .3s ease-in-out;
    -moz-transition:color .3s ease-in-out;
    -webkit-transition:color .3s ease-in-out;
    transition:color .3s ease-in-out;
}

.nav_grey{
    color:#333;
}


.text_section{
    font-family: 'Rubik', sans-serif;
    padding-right:20px;
    top:7%;
    height:86%;
    overflow-y: auto;
    width:86%;
    left:10%;
    position:relative;
}



/*
 MARK:
 Intro div
*/

.full_base, .left_base_purple, .left_base_gray, .right_base {
    height:100vh;
    width:100vw;
    background-color:#242424;
    position:relative;
    float:left;
}


.navbar {
    width:100%;
    top:90%;
    position:absolute;
    text-align:center;
}

#intro_subtitle {
    width:100%;
    top:10%;
    position:absolute;
}



#intro_nav {
    width:100%;
    top:90%;
    position:absolute;
}



/*
 MARK:
 About div
*/


.left_base_purple, .left_base_gray {
    width:40vw;
    left:0px;
    background-color:#714e99;
    float:left;

}

.left_base_gray {
    background-color:#333;
}

.right_base {
    width:56vw;
    left:0px;
    background-color:#fff;
    float:left;
}
