body {
  background-color: white;
  color: #2E2E2E;
  font-family: Roboto, Arial, sans-serif;
  border-top: 2px solid #2E2E2E;
  margin: 0;
}

h1 {
  color: #D60000;
}

h2 {
  margin-top: 40px;
}

b {
  color: #D60000;
}

a {
  color: #000000;
}

a:hover {
  color: #7A7A7A;
}

p {
  line-height: 28px;
  font-size: 18px;
}

#content {
 margin: 100px 150px;
}
